body, html {
    height: 100%;
    margin: 0px;
}
header {
    padding: 0px;
    margin: 0px ;
    margin-top: 0;
    margin-bottom: 0;
    color: whitesmoke;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}
#back-img {
    border: 1px solid whitesmoke;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/Burger/mariana-medvedeva-fk6IiypMWss-unsplash.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
    margin: 8;
    padding: 0px;
}
header h1 {
    padding: 0.5vh;
    margin: 0;
    text-align: center;
}   
a:hover {
    color: rgb(223, 162, 9);
    font-size: 25px;
}
#navi {
    display: table;
    margin: auto;
}

#list-horizon {
    min-width: 696px;
    list-style: none;
    padding-top: 0px;
    padding-left: 0;
    align-items: center;
}
#list-horizon li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
hr {
    color: rgb(223, 162, 9);
    font-size: 5px;
}

.coloum p {
    color: rgb(223, 162, 9);
    font-size: 20px;
    text-align:  center;
}

.button_box {
    margin: auto;
    width: 50%;
    text-align: center;

}

#button {
    background-color: rgb(223, 162, 9);
    width: 50%;
    height: 40px;
    margin: 25px;
    border-radius: 25px;
    border-color: rgb(223, 162, 9);
    box-shadow: 0 3px 7px rgba(0,0,0,0.6);
    font-size: 20px;
    color: whitesmoke;
}

#button:hover {
    background-color: rgb(223, 162, 9);
    width: 60%;
    height: 40px;
    margin: 25px;
    border-radius: 25px;
    border-color: rgb(223, 162, 9);
    box-shadow: 0 3px 7px rgba(0,0,0,0.6);
    font-size: 25px;
}

hr {
    color: rgb(223, 162, 9);
    font-size: 5px;
    margin: 0;
}
.date {
    text-align: top right;
}

footer{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/Burger/mariana-medvedeva-fk6IiypMWss-unsplash.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 10vh;
    width: 100%;
    margin: 8;
    padding: 0px;
}
footer p {
    color: whitesmoke;
}

@media screen and (max-width: 900px) {

    .row {
        display: inline;
        justify-content: center;
        width: 100%;
        margin: 10px;
        text-align: center;
    }
    
    .coloum {
            margin: auto;
            width: 100%;
            padding: 20px;
            text-align: center;
    }
    
    .coloum p {
            display: inline-block;
            margin: 5px;
            text-align: center;
            width: 100%;
    }
    img {
        width: 1000%;
        margin: auto;
        display: block;
    }

}

@media screen and (min-width: 1000px) {

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .coloum {
        margin: 50px;
        float: left;
    }

    

    img {
        width: 100%;

    }
    
}