body, html {
    height: 100%;
    margin: 0px;
}
header {
    padding: 0px;
    margin: 0px ;
    margin-top: 0;
    margin-bottom: 0;
    color: whitesmoke;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}
#back-img {
    border: 1px solid whitesmoke;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/Burger/mariana-medvedeva-fk6IiypMWss-unsplash.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
    margin: 8;
    padding: 0px;
}
header h1 {
    padding: 0.5vh;
    margin: 0;
    text-align: center;
}   
a:hover {
    color: rgb(223, 162, 9);
    font-size: 25px;
}
#navi {
    display: table;
    margin: auto;
}

#list-horizon {
    min-width: 696px;
    list-style: none;
    padding-top: 0px;
    padding-left: 0;
    align-items: center;
}
#list-horizon li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
hr {
    color: rgb(223, 162, 9);
    font-size: 5px;
}
.row {
    text-align: center;
}

.coloum {
    margin: 20px 20px 20px 25px;
    float: left;
    width: 30%;
    padding: 5px;
    text-align: center;
}
.coloum p {
    color: rgb(223, 162, 9);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.view_all_bt {
    border: 2px solid rgb(223, 162, 9);
    padding: 2px;
    margin-top: 20px;
    margin-left: 45%;
    margin-bottom: 20px;
    margin-right: 50%;
    width: 150px;
    text-align: center;
    background-color: rgb(223, 162, 9);
}

.view_all_bt p{
    color: whitesmoke;
    font-size: 20px;
}

hr {
    color: rgb(223, 162, 9);
    font-size: 5px;
    margin: 0;
}
.date {
    text-align: top right;
}

footer{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/Burger/mariana-medvedeva-fk6IiypMWss-unsplash.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 10vh;
    width: 100%;
    margin: 8;
    padding: 0px;
}
footer p {
    color: whitesmoke;
}